<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="images/new" class="btn btn-primary" > Nova foto</a>
                </span>
                <input ng-model="search" ng-model-options="{ debounce: 500}" type="text" class="form-control" placeholder="filtrar">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <my-panel class="col-md-2 panel-fade" ng-repeat="image in images | filter: search" titulo="{{image.titulo}}">
        <my-image url="{{image.url}}" alt="{{image.titulo}}"></my-image>
        <a href="images/edit/{{image._id}}" class="btn btn-primary btn-block">Editar</a>
         <my-danger-button name="Remover" action="remove(image)"></my-danger-button>
    </my-panel>                     
</div>
